/*
Theme: Current
Theme URI: http://cafeextra.lustauffotos.com
Description: Kleinste Kommunale Kleinkunstbühne in Hessen
Version: 0.0.1
Author: admin
Author URI: 
*/


#footer .copy { color: #000000; font-size: 1.2em; }
.footertel { color: #CE102D; }
a.footerlink { color: #000000; }
a:hover.footerlink { color: #CE102D }


.post {
margin-top: 4px;
}

.layout-left #container {
border-left: 0;
}

#content {
padding: 4px;
}

article header { 
    background-image: url('/files/constructor/themes/current/bg-x.png');
    background-repeat: no-repeat; 
    background-position: left; 
    padding-left: 30px;
}
